.sec__destaques {
  background: #addaff;
  text-align: center;
  padding: 0em 0em 3em 0em;
}

.sec__destaques-titulo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 1em;
  text-transform: uppercase;
  color: #ffffff;
}

.sec__destaques-imagem {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.125));
  border-radius: 0px; 
  width: 100%;
}

.sec__destaques-desc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  padding: 0.5em 1.5em 3em 1.5em;
  color: #FFFFFF;
  text-align: left;
}

.sec__destaques-botao {
  border: 1px solid #05c1ff;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #05c1ff;
  padding: 1em 5em;
  text-decoration: none;
  transition: 250ms;
}

.sec__destaques-botao:hover {
  color: #FFFFFF;
  background-color: #05c1ff;
  transition: 250ms;
}

@media screen and (min-width: 768px) {
  .sec__destaques-imagem {
    width: 70%;
  }

  .sec__destaques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .sec__destaques-imagem {
    width: 30%;
  }
}